
.c0 {
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    /* font-size: 12pt; */
    font-style: normal;
}
.c1 {
    /* font-size: 20pt; */
    font-weight: 700;
}
.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.05;
    text-align: left;
    margin-left: 2rch;
    /* margin-right: 13.5pt; */
}
.c3 {
    /* margin-left: -9pt; */
}
.c4 {
    /* margin-left: 27pt; */
    /* padding-left: -9pt; */
}
.c5 {
    /* margin-left: -18pt; */
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.05;
    text-align: left;
    /* margin-right: -54pt; */
}
.c6 {
    /* color: #000000; */
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    /* font-size: 12pt; */
    font-style: normal;
}
.c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.05;
    text-align: left;
    /* margin-right: -54pt; */
}
.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.05;
    text-align: left;
    /* margin-right: -13.5pt; */
}
.c9 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.05;
    text-align: left;
    /* margin-right: 4.5pt; */
}
.c10 {
    /* font-size: 12pt; */
    font-weight: 400;
}
.c11 {
    font-size: 30pt;
    font-weight: 700;
}
.c12 {
    /* margin-left: -49.5pt; */
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    /* margin-right: -36pt; */
}
.c13 {
    font-weight: 700;
}
.c14 {
    -webkit-text-decoration-skip: none;
    color: whitesmoke;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-family: "Roboto";
}
.c15 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
}
.c22 {
    font-weight: 700;
}
.c23 {
    /* font-size: 11pt; */
}
.c24 {
    /* margin-left: -18pt; */
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.05;
    text-align: left;
    /* margin-right: -49.5pt; */
}
.c28 {
    font-weight: 400;
}